.avio
    .avio__logo
        img(src='img/logo.svg' alt='logo')
    .avio__cloud
    .avio__chips
        .chip1
        .chip1-clone
        .chip1-clone-2
        .chip2
        .chip3
        .chip3-clone
        .chip4
        .chip4-clone
        .chip5
        .chip5-clone
        .chip6
    .avio__wrapper
        .avio__wrapper-border
        .avio__image
            .avio__image-airplane
                img(src='img/airplane.svg' alt='airplane')
            .avio__image-text
                img(src='img/avio-text.svg' alt='Aviator')
        .avio__text
            .avio__text-top Bonus
            .avio__text-center 50 000 ₹
            .avio__text-bottom 155 FS
        .avio__button
            a(href='#').avio__link Get a bonus

